<html>
<head>
    <title>CPSC/DATA 350 Feedback</title>
</head>
<h1>CPSC/DATA 350 Feedback</h1>
<body>
<h2>Be constructive!</h2>
<form method="post" action="{{url_for('add_comment')}}">
    Leave feedback for: 
    <select name=student >
    {% for student in students %}
        <option value={{student}}>{{student}}</option>
    {% endfor %}
    </select>
    <br/>
<textarea name=comment rows="10" cols="80"></textarea><br/>
<input type=submit name=submit value="Give feedback" />
</form>
</body>
</html>
